<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UITableViewCell</key>
	<true/>
	<key>UIImageView</key>
	<true/>
	<key>UIButton</key>
	<true/>
	<key>Speed</key>
	<real>0.4</real>
	<key>Color</key>
	<string>#CCCCCC</string>
	<key>Alpha</key>
	<real>0.6</real>
</dict>
</plist>
